.square {
  float: left;
  width: 80px;
  height: 80px;
}

.white-square {
  background-color: #eccdea;
}
.black-square {
  background-color: #894096;
}
.clear-float {
  clear: both;
}

.table {
  position: relative;
  width: 640px;
  height: 640px;
  margin: 0 auto;
  border: 4px solid #894096;
}

.player {
  top: 10px;
  left: 10px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  position: relative;
}

.current-team {
  cursor: pointer;
}

.white-player {
  background: white;
}

.black-player {
  background: black;
}

.invisible {
  visibility: hidden;
}

.clicked {
  border: 4px solid gray;
}
.potential {
  background-color: gray;
}

body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#info-board {
  width: 420px;
  padding: 10px;
  border: 5px solid gray;
  background-color: #eccdea;
  margin: 0;
}

#score-board {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  font-size: xx-large;
}

td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.highligh-name {
  background: khaki;
}

#cancel {
  padding-top: 30px;
  height: 40px;
  position: relative;
}

#cancel-btn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #894096;
  border-radius: 5px;
  font-weight: bold;
  height: 30px;
}

#winner {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#textwin {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  font-size: 80px;
  color: whitesmoke;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#wrong-move {
  text-align: center;
  color: red;
}
